/* Body styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Header styles */

header {
  display: flex;
  align-items: center;
}

.header img {
  width: 50%;
}

.header-content {
  width: 50%;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

nav h1 {
  margin: 0;
  font-size: 2.5rem;
  color: #333;
}

nav p {
  margin: 10px 0 0;
  font-size: 1.2rem;
  color: #777;
}

figure {
  margin-top: 20px;
}

/* Main styles */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

#mainLeft {
  width: 100%;
  float: left;
  margin-right: 5%;
}

#mainRight {
  width: 100%;
  float: left;
}

section {
  margin-bottom: 40px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 10px;
  color: #666;
}

strong {
  font-weight: bold;
}

.icon {
  margin-right: 10px;
  color: rgb(37, 11, 11);
  font-size: 1.2rem;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
